@font-face {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/pt-sans-narrow-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-narrow-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-style: bold;

  font-display: swap;
  src: url("../fonts/pt-sans-narrow-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-700.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #fff;
  background-color: #000;
  background-image: url("../img/files/index-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 40px center;
}

.inner-page {
  color: #000;
  background-color: #f9f6f3;
  background-image: url("../img/bg-white.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  pointer-events: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn-res {
  font: inherit;

  padding: 0;

  cursor: pointer;

  color: inherit;
  border: none;
  background-color: transparent;
}

.btn {
  display: block;

  padding: 0.65em 1em;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #000;
  text-transform: uppercase;
  overflow: hidden;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.main-nav {
  font-size: 16px;
  line-height: 20px;

  color: #fff;
}

.page-header {
  margin-bottom: 70px;
}

.inner-page .page-header {
  margin-bottom: 50px;

  background-color: #000;
}

.logo {
  width: 368px;
  height: 153px;

  order: 2;
}

.inner-page .logo {
  width: 111px;
  height: 24px;
  padding: 23px 20px;

  order: 0;
}

.main-nav {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.page-header__wrapper {
  width: 100%;
  margin-bottom: 62px;

  background-color: #000;
}

.main-nav__wrapper {
  display: flex;

  justify-content: space-between;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-nav {
  max-width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.inner-page .user-nav {
  margin-left: auto;
}

.site-nav__link,
.user-nav__link {
  display: block;
  color: #fff;
  padding: 25px 20px 26px;
}

.site-nav__link:hover,
.site-nav__link:focus,
.user-nav__link:hover,
.user-nav__link:focus {
  background-color: #242424;
}

.user-nav__link {
  padding-left: 50px;
  position: relative;
}

.user-nav__link svg {
  position: absolute;
  left: 17px;
  top: 27px;
  opacity: 0.3;

  fill: #fff;
}

.user-nav__link:hover svg,
.user-nav__link:focus svg,
.user-nav__link:active svg {
  opacity: 1;
}

.advantages {
  margin-bottom: 78px;

  color: #f7f4f1;
}

.advantages__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;
}

.advantages__item {
  width: 300px;

  text-align: center;
}

.advantages__title {
  position: relative;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 60px;
}

.advantages__title::after {
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;

  transform: rotate(45deg);
}

.advantages__description {
  margin: 0 10px;
}

.page-wrapper {
  display: flex;

  margin-bottom: 36px;
  padding: 45px 80px 50px;

  color: #000;
  background-color: #f8f5f2;
  background-image: url("../img/line.png"), url("../img/bg-white.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;

  justify-content: space-between;
}

.news {
  width: 380px;
}

.section__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.news__list {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.news__item {
  margin-bottom: 21px;
}

.news__item:last-child {
  margin-bottom: 29px;
}

.news__description {
  margin: 0;
}

.news__date {
  text-transform: lowercase;
}

.news__btn {
  width: 140px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.news__btn:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.photo {
  width: 300px;
}

.photo__wrapper {
  position: relative;
  height: 260px;
}

.photo__gallery {
  border: 7px solid #fff;
  background-color: #ccc;
  height: 164px;
  margin: 0;
}

.photo__gallery img {
  width: 286px;
  height: 164px;
}

.photo__btn {
  width: 140px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.photo__btn--prev {
  left: 0;
}

.photo__btn--next {
  right: 0;
}

.contacts {
  width: 380px;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item p {
  margin: 0;
}

.contacts__buttons {
  display: flex;
  align-items: flex-start;
}

.contacts__btn {
  width: 140px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.contacts__btn:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.sign-up {
  width: 300px;
}

.sign-up-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sing-up__lead {
  margin: 0;
  margin-bottom: 10px;
}

.sign-up-form__col {
  margin: 0;
  width: 140px;
  margin-bottom: 5px;
}

.sign-up-form__label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.sign-up-form__input {
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  font: inherit;

  border: 2px solid #000;
  background-color: transparent;
}

.sign-up-form__input:focus {
  border-color: #663d15;
}

.sign-up-form__btn {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.sign-up-form__btn:last-child {
  margin-bottom: 0;
}

.page-title {
  font-size: 30px;
  line-height: 42px;

  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumbs__link {
  color: #000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline;
}

.breadcrumbs__item--active {
  color: #aba9a7;
}

.goods {
  display: flex;

  justify-content: space-between;
}

.search-form {
  width: 180px;
}

.search-form__fieldset {
  border: none;
}

.search-form__legend {
  font-size: 24px;
  line-height: 30px;
}

.search-form__list {
  line-height: 18px;

  list-style: none;
}

input[type="radio"]:hover + label,
input[type="radio"]:focus + label,
input[type="checkbox"]:hover + label,
input[type="checkbox"]:focus + label {
  color: #663d15;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
  opacity: 0.5;
  color: #000;
}

.gallery {
  width: 700px;
}

.gallery__list {
  display: flex;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
}

.gallery__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.gallery__item:nth-child(3n) {
  margin-right: 0;
}

.product {
  width: 220px;

  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product__link {
  color: #000;
}

.product__title {
  font-size: 14px;
  line-height: 18px;
}

.product__category {
  text-transform: none;
}

.product__price {
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  background-color: #e5e5e5;
}

.product__buy-btn {
  line-height: 20px;

  color: #fff;
}

.pagination__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__link {
  color: #fff;
  background-color: #000;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  background-color: #663d15;
}

.pagination__item--active a {
  color: #000;
  background-color: #fff;
}

.pagination__item--active a:hover,
.pagination__item--active a:focus,
.pagination__item--active a:active {
  color: #000;
  background-color: #fff;
}

.photos {
  width: 460px;
}

.photos__list {
  list-style: none;
}

.photos__item {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.photos__description {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.info {
  width: 390px;
}

.info__vendor-code {
  text-align: right;

  color: #aeaeae;
}

.info__price {
  line-height: 20px;

  text-align: center;

  background-color: #e5e5e5;
}

.composition__title {
  font-size: 24px;
  line-height: 30px;
}

.composition__list {
  list-style: none;
}

.page-footer {
  margin-top: 62px;
  padding: 60px 0;

  color: #fff;
  background-color: #212121;
  background-image: url("../img/bg-dark.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.inner-page .page-footer {
  margin-top: 45px;
}

.page-footer__wrapper {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin-right: 80px;
}

.footer-contacts__link {
  text-decoration: underline;

  color: #fff;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  text-decoration: none;
}

.social {
  width: 145px;

  text-align: center;
}

.social__lead {
  display: block;
  margin-bottom: 15px;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 141px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000000;
}

.social__link svg {
  fill: #fff;
}

.social__link:hover,
.social__link:focus {
  background-color: #ffffff;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: #000000;
}

.copyright {
  max-width: 150px;
  margin-left: auto;

  text-align: center;
}

.copyright__title {
  font-size: 14px;

  margin: 0;
  margin-bottom: 15px;
}

.copyright-btn {
  width: 140px;
}

.copyright-btn:hover,
.copyright-btn:focus {
  color: #000;
  background-color: #fff;
  margin-right: 0;
}

.modal--login {
  display: none;

  color: #000;
  background-color: #f8f3f0;
  background-image: url("../img/bg-white.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.modal__title {
  font-size: 30px;
  line-height: 42px;
}

.modal-form__link {
  text-decoration: underline;

  color: #000;
}

.modal--map {
  display: none;

  background-color: #e9e5dc;
}

.modal-form input[type="email"],
.modal-form input[type="password"] {
  font: inherit;

  text-transform: uppercase;

  color: #000;
  border: 2px solid #000;
  background-color: #f9f6f3;
}

.modal-form input:focus {
  border-color: #663d15;
}

.modal-form__label:hover,
.modal-form__label:focus {
  color: #663d15;
}

.modal-form__link {
  text-decoration: underline;

  color: #000;
}

.modal-form__link:hover,
.modal-form__link:focus {
  text-decoration: none;
}
